<h1>Search</h1>
<hr />

<ol>
	<li><a href="/cl">Command Line</a></li>
	<li><a href="/">Menu</a></li>
</ol>

<form action='/search' method='POST'>
	<input type="text" name="search" placeholder="search">
</form>
